# Prod
APP_NAME=SAGAR API
APP_VERSION=0.1.0
ENVIRONMENT=production
PORT=8000
HOST=0.0.0.0

# ------------------------------------------------------------------------------
# Supabase Production Credentials
# Found in: Supabase Dashboard > Project Settings > API
# ------------------------------------------------------------------------------
SUPABASE_PROJECT_ID=your_prod_project_id
SUPABASE_JWT_SECRET=your_prod_supabase_jwt_secret
SUPABASE_URL=https://your-prod-project-ref.supabase.co
SUPABASE_ANON_KEY=your_prod_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_prod_supabase_service_role_key

# ------------------------------------------------------------------------------
# Supabase Remote PostgreSQL Connection
# Found in: Supabase Dashboard > Project Settings
# ------------------------------------------------------------------------------
# Direct Connection (Port 5432):
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres

# Session/Transaction Connection Pooler (Port 6543- used for  IPv4-only , migrations):
#DATABASE_URL=postgresql://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres?sslmode=require
